/* @import url(http://fonts.googleapis.com/css?family=Lato:400,300,300italic,400italic,600,600italic,700,700italic,800,800italic);
@import url(line-icons.css);
@import url(http://fonts.googleapis.com/css?family=Source+Sans+Pro:400,700,700italic,400italic);
@import url(http://fonts.googleapis.com/css?family=Open+Sans:400italic,400,300,600); */

body {
    color: #555555;
    font-family: "Gotham",Helvetica,Arial,sans-serif;
    padding: 0px !important;
    margin: 0px !important;
    font-size:14px !important;
    line-height: 1.685;	    
}

h1,h2,h3,h4,h5{
   font-weight:500;
   margin:20px 0;
}
label{
    font-weight: 300;   
}
ul li {
    list-style: none;
}

a, a:hover, a:focus {
    text-decoration: none;
    outline: none;
    outline: 0;
}
input:focus, textarea:focus { outline: none; }
table tr th { color: #688a7e;}
*:focus {outline: none;}
::selection {
    background: #688a7e;
    color: #fff;
}

#container {
    width: 100%;
    height: 100%;
}

#lean_overlay {
    position: fixed;
    z-index:100;
    top: 0px;
    left: 0px;
    height:100%;
    width:100%;
    background: #000;
    display: none;
}
.popupContainer{
	position:absolute;
	width:330px;
	height: auto;
	left:45%;
	top:80px;
	background: #FFF;
}

#modal_trigger {width:100px; display:block;}/* margin:100px auto;  */

.btn {padding:10px 20px;} /* background: #F4F4F2; */
.btnsm {padding:2px 10px !important;}
.btn:HOVER{color: inherit;}
.btn_red {background: #ED6347; color: #FFF;}
/* .btn:hover {background: #E4E4E2;} */
.btn_red:hover {background: #C12B05;}
/* a.btn {color:#666; text-align: center; text-decoration: none;} */
a.btn_red {color: #FFF;}
.one_half {width:50%; display: block; float:left;}
.one_half.last {width:45%; margin-left:5%;}

/* Footer */
.footer1 { background: #232323; padding: 30px 0 0 0; font-size: 14px; color: #999;clear:both;line-height:1.3;}
.footer1 a { color: #ccc; }
.footer1 a:hover {color: #fff; }
.footer1 .widget { margin-bottom:30px; }		
.footer1 .widget-title { font-size: 17px; font-weight: bold; color: #ccc; margin: 0 0 20px; }
.footer1 .entry-meta { border-top: 1px solid #ccc; border-bottom: 1px solid #ccc; margin: 0 0 35px 0; padding: 2px 0; color: #888888; font-size: 12px; font-size: 0.75rem; }
.footer1 .entry-meta a { color: #333333; }
.footer1 .entry-meta .meta-in { border-top: 1px solid #ccc; border-bottom: 1px solid #ccc; padding: 10px 0;}
.follow-me-icons { font-size:30px; }		
.follow-me-icons i { float:left; margin:0 15px 0 0; }		
.footer2 { background: #191919; padding: 20px 0; color: #777;}
.footer2 a { color: #aaa; }
.footer2 a:hover { color: #fff; }
.footer2 p { margin: 0; }
.widget-simplenav { margin-left:-5px; }		
.widget-simplenav a{ margin:0 5px; }		
/* Footer */	

#story_area {
   background: #e8f1ff none repeat scroll 0 0;
}
#clean_bg {
    /* background: #e8f1ff none repeat scroll 0 0; */
    background:rgba(0, 0, 0, 0) url("../../resources/appResImages/bgs/d5.jpg") no-repeat fixed 0 0 / cover 
}

.section_padding {
    padding:40px 0 70px 0;
}
.section_padding20 {
    padding: 20px 0;
}
.login-adj {
	min-height:550px;
}

#jobpostinglist a.btnn {
    color: #fff;
    text-align: center;
    text-decoration: none;
}
#jobpostinglist a.btnn:HOVER {
    color: #fff;
    text-align: center;
    text-decoration: none;
}
#jobpostinglist,#managejobpostings table td{
	padding:2px;
}
#jobpostinglist th{
  background : #97d3c5;
  background-color : #97d3c5; 
}
#jobApplicationsList th{
  background : #97d3c5;
  background-color : #97d3c5; 
}
#managejobpostings th{
  background : #97d3c5;
  background-color : #97d3c5; 
}
#employees th{background : #97d3c5;
  background-color : #97d3c5;}
.pagebanner{margin-top:20px;padding-top:20px;}
.pagelinks{}
.btn-facebook {
    background-color: #3b5998;
}
.btn-social {
    color: white;
    opacity: 0.8;
}

article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}

ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
.header{
	width: 100%;
	height: 65px;
	background-color:#ed5605; /*#db6735   #2574a9  #DB4F13; */
    /* border-bottom: 2px solid #025186; */
    min-height: 60px;
    padding: 0 15px;
     left: 0;
    right: 0;
    z-index: 1002;
}
.container {
	width: 1080px;
	margin: 0 auto;
}
.logo {
	float:left;
}
.logo h1 a {
	text-decoration: none;
	color: #1C97CA;
	font-size: 40px;
	font-weight: 100;
	display: block;
	letter-spacing: 4px;
	text-transform: uppercase;
}
.menu {
	float: right;
}
.menu ul li{
	display: inline-block;
	padding: 20px 0 10px;
}
.menu ul li a{
	float:right;
	text-decoration: none;
	color: #4e4f4f;
	
}
.menu ul li a:hover{
	color: #1C97CA;
}
.banner{
	background:url("../../resources/appResImages/bgs/c11.jpg") no-repeat fixed 0% 0%/cover;  /* d6 */
	/* background:url("../../resources/appResImages/images/ba4.jpg") no-repeat fixed 0% 0%/cover; */
	/* background:url("../../resources/appResImages/images/rv.jpg") no-repeat fixed 0% 0%/cover; */
	/* background: url("/envSpring/resources/appResImages/images/picjumbo-bg5.png") no-repeat fixed 0% 0%/cover; */
	/* background: url(/resources/appResImages/images/picjumbo-bg5.png) no-repeat fixed 0% 0%/cover; */
	/* padding:55px 0 130px; */
	cursor: default;
	min-height: 580px;
	 transition: background .25s ease-in-out;
   -moz-transition: background .25s ease-in-out;
   -webkit-transition: background .25s ease-in-out;
  /*  opacity:0.8; */
   background-size:cover;
}
.wht-img-bg{background:url("../../resources/appResImages/bgs/d5.jpg") no-repeat fixed 0% 0%/cover;}


.black-overlay {
    background: rgba(0, 0, 0, 0) radial-gradient(ellipse at center center , rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.8) 100%) repeat scroll 0 0;
    height: 100%;
    left: 0;
    top: 0;
    width: 100%;
    z-index: 0;
}
.header-text{
	text-align:center;
	color: #fff;
}
.big-text{
	font-size: 30px;
	line-height: 50px;
	font-weight: 300;
}
.header-text h2{
	font-size: 40px;
	font-weight: 600;
	line-height: 60px;
	margin: 25px;
}
.small-text{
	width: 65%;
	margin: 0 auto;
	font-size: 18px;
	font-weight: 400;
	line-height: 40px;
}
.small-text a{
	color: #fff;
	border-bottom: 1px dotted #fff;
	text-decoration: none;
}
.button-section ul li{
	display: inline-block;
	margin: 50px 550px 10px 50px;
}
.top-button{
	text-decoration: none;
	border-radius: 1px;
	font-weight: 600;
	font-size: 12px;
	text-transform: uppercase;
	margin-left:4px;
	margin-top: 6px; 
	padding: 9px 36px !important;
}

.featured{
	padding: 30px 0 60px;
	float: left;
	width: 100%;
}

.testmonial{
	text-align: center;
	padding: 35px 0px;
	background:#fffb92 none repeat scroll 0 0;
}

.desc{
	background:url("../../resources/appResImages/bgs/d2.jpg") no-repeat fixed 0% 0%/cover;
	text-align: center;
	padding: 65px 0px;
	/* background: #e64c65 none repeat scroll 0 0; */
	color:#fff; 
}
.desc h2{
	padding: 15px 0px;
}
.desc p{
	font-size: 18px;
	font-weight: 400;
	line-height: 30px;
	width: 85%;
	margin: 0 auto;
	color: #444;
}
.features{
	/* background: url("/envSpring/resources/appResImages/cmnImages/hmb6.jpg") no-repeat fixed 0% 0%/cover; */
	/* background:url("../../resources/appResImages/images/bg.jpg") no-repeat fixed 0% 0%/cover; */ 
	/* background-image:url("chrome://global/skin/media/imagedoc-darknoise.png"); */
	padding:60px 220px 60px 120px;
	background-color:#ffebcf;
	float: left;
	width: 100%;
}

.testmonial a {
    background-color: transparent;
    border: 2px solid #d7d3c8;
    border-radius: 0.5em;
    color: #0096dd;
    cursor: pointer;
    display: inline-block;
    font-weight: bold;
    padding: 10px 20px;
    text-transform: uppercase;
    transition: all 0.15s ease-in-out 0s;
    width: 160px;
}

.features-section{
	text-align: center;
}
h3.text-head{
	color: #fff;
	font-size: 27px;
	font-weight: 600;
	text-align: center;
}
p.box-desc{
	color: #888;
	font-size: 17px;
	font-weight: 500;
	line-height: 60px;
	text-align: center;
}
.features-section ul li{
	width: 360px;
	display: block;
	text-align: center;
	float: left;
}
.feature-icon{
	background:url(images/feature-icons.png) no-repeat;
	width: 90px;
	height: 60px;
	display: inline-block;
}
.icon1{
	background-position: -1px -1px;
}
.icon2{
	background-position: -68px -1px;
}
.icon3{
	background-position: -136px -1px;
}
.features-section ul li h4{
	font-size: 32px;
	font-weight: 800;
	color: #fff;
	line-height: 62px;
	margin-top: 16px;
}
.features-section ul li p{
	color: #fff;
	font-size: 25px;
	line-height: 16px;
	margin: 0 auto;
	font-weight: 800;
}
.features h2{color:#666;}
.stories{
	padding: 80px 0px;
	float: left;
	width: 100%;
	background: #f1f1f1;
}
.stories-section ul li{
	width: 318px;
	margin: 40px 20px 0px;
	border-radius: 5px;
	background-color: #fff;
	float: left;
	transition: all 0.3s ease-in;
	-moz-transition: all 0.3s ease-in;
	-o-transition: all 0.3s ease-in;
	-ms-transition: all 0.3s ease-in;
	-webkit-transition: all 0.3s ease-in;
}
.stories-section ul li a{
	text-decoration: none;
}
.story-img img{
	width: 318px;
	height: 200px;
	border-top-left-radius: 5px;
	border-top-right-radius: 5px;
}
.story-box{
	border: 1px solid #ccc;
	border-bottom-left-radius: 5px;
	border-bottom-right-radius: 5px;
	border-top: none;
	text-align: center;
	padding: 10px 0px 20px;
}
.story-box h4{
	color: #4E4F4F;
	font-size: 16px;
	font-weight: 600;
	line-height: 50px;
}
.story-box p{
	color: #888;
	font-size: 15px;
	font-weight: 400;
	line-height: 20px;
}
.stories-section ul li:hover{
	box-shadow: 0px 0px 6px 0px #ccc;
}
.contact{
	padding: 80px 0px;
	width: 100%;
	float: left;
	background-color: #D6D6D6;
}
.contact-section{
	width: 60%;
	margin: 0 auto;
}
.textarea{
    background: #ffffff none repeat scroll 0 0;
    border: 1px solid #bbb;
    cursor: pointer;
    float: left;
    outline: medium none;
    padding: 4px 10px;
    transition: all 0.3s ease-out 0s;
    width: 98%;
    height: 100px;
    color:#555;
	-webkit-transition: all 0.3s ease-out;
	-moz-transition: all 0.3s ease-out;
	-ms-transition: all 0.3s ease-out;
	-o-transition: all 0.3s ease-out;
	-webkit-transition: all 0.3s ease-out;
	-moz-transition: all 0.3s ease-out;
	-ms-transition: all 0.3s ease-out;
	-o-transition: all 0.3s ease-out;
	 border-radius:2px;
	-webkit-transition: all 0.3s ease-out;
	-moz-transition: all 0.3s ease-out;
	-ms-transition: all 0.3s ease-out;
	-o-transition: all 0.3s ease-out;
    overflow: hidden;
    -webkit-border-radius: 5px 4px 4px 5px/5px 5px 4px 4px;
    -moz-border-radius: 5px 4px 4px 5px/5px 5px 4px 4px;
    border-radius: 5px 4px 4px 5px/5px 5px 4px 4px;
}
button.submit{
background: #1C97CA;
border: medium none;
color: #FFF;
padding: 15px 10px;
font-size: 18px;
font-weight: 600;
transition: all 0.3s ease 0s;
-o-transition: all 0.3s ease 0s;
-webkit-transition: all 0.3s ease 0s;
-ms-transition: all 0.3s ease 0s;
-moz-transition: all 0.3s ease 0s;
margin-top: 20px;
transition: background 0.3s ease-in;
cursor: pointer;
display: block;
margin: 30px auto 0px;
border-radius : 5px;
}
button.submit:hover{
	background:#888;
}
form input:focus{
	/* border: 2px solid #888; */
	background-color: #fff;
}
form textarea:focus{
	border: 2px solid #888;
	background-color: #fff;
}
.footer{
	width: 100%;
	background-color: #373A42;
	float: left;
	padding: 50px 0px;
	text-align: center;
}
i.icon-twitter {
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    transition: all 0.3s;
}
i.icon-twitter:hover {
    height: 100%;
    color: #00acee;
}
i.icon-facebook {
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    transition: all 0.3s;
}
i.icon-facebook:hover {
    height: 100%;
    color: #3b5998;
}
i.icon-dribbble {
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    transition: all 0.3s;
}
i.icon-dribbble:hover {
    height: 100%;
    color: #ea4c89;
}
i.icon-linkedin {
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    transition: all 0.3s;
}
i.icon-linkedin:hover {
    height: 100%;
    color: #0e76a8;
}
i.icon-instagram {
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    transition: all 0.3s;

}
i.icon-instagram:hover {
    height: 100%;
    color: #3f729b;
}
ul.socialmedia li a {
    text-decoration: none;
}
.responsive-menu-button
{
	float: right;
	padding: 24px 0px;
}
#mobile-header {
display: none;
}

.search-container {
   /*  height: 44px;
    left: 50%;
    margin: -22px 0 0 -141px;
    position: absolute;
    top: 50%; */
}
#search {
    background: rgba(0, 0, 0, 0) linear-gradient(to bottom, #ffdf73 0%, #ffff77 100%) repeat scroll 0 0;
    border-radius: 5px;
    display: inline-block;
    padding: 25px;
}

.clearfix::before, .clearfix::after {
    content: "";
    display: table;
}
.clearfix::after {
    clear: both;
}
.clearfix::before, .clearfix::after {
    content: "";
    display: table;
}
.clearfix {
}
fieldset {
    border: 0 none;
    margin: 0;
    padding: 0;
}


.clearfix::after {
    clear: both;
}
.clearfix::before, .clearfix::after {
    content: "";
    display: table;
}
.clearfix {
}
fieldset {
    border: 0 none;
    margin: 0;
    padding: 0;
}


#search input[type="text"] {
    background: #fff none repeat scroll 0 0;
    color: #42454e;
    padding: 12px;
}
input[type="text"] {
    box-sizing: content-box;
}

input {
    border: medium none;
  /*   font-family: inherit; */
    font-size: inherit;
    line-height: 2.2em;
    margin: 0;
    outline: medium none;
    padding: 0;
}

#search input[type="submit"] {
    background: #1bba9a none repeat scroll 0 0;
    color: #fff;
    font-size: 14px;
    font-weight: bold;
    margin-left: 7px;
    padding: 11px 10px;
}
#search input[type="text"], #search input[type="submit"] {
    border-radius: 3px;
    font-size: 14px;
}






/* ADDED FORM STYLE PAGE CSS */

article, aside, details, figcaption, figure,footer, header, hgroup, menu, nav, section {display: block;}
ol,ul{list-style:none;margin:0px;padding:0px;}
blockquote,q{quotes:none;}
blockquote:before,blockquote:after,q:before,q:after{content:'';content:none;}
table{border-collapse:collapse;border-spacing:0;}
/* start editing from here */
a{text-decoration:none;}
.txt-rt{text-align:right;}/* text align right */
.txt-lt{text-align:left;}/* text align left */
.txt-center{text-align:center;}/* text align center */
.float-rt{float:right;}/* float right */
.float-lt{float:left;}/* float left */
.clear{clear:both;}/* clear float */
.pos-relative{position:relative;}/* Position Relative */
.pos-absolute{position:absolute;}/* Position Absolute */
.vertical-base{	vertical-align:baseline;}/* vertical align baseline */
.vertical-top{	vertical-align:top;}/* vertical align top */
nav.vertical ul li{	display:block;}/* vertical menu */
nav.horizontal ul li{	display: inline-block;}/* horizontal menu */
img{max-width:100%;}
/*end reset*/
/****-----start-body----****/



.main{
	margin:30px 20px 20px 30px;
	width:44%;
}
.errors{font-size:11px; color:#ff00000  }

.main h2,.main h3{
	font-size: 1em;
	text-align: center;
	color:#fff;
	padding:1em 0;
	/* font-family: 'Oxygen', sans-serif; */
}
.main h3{
	font-size: 1em;
	text-align:left;
	/* font-family: 'Oxygen', sans-serif; */
}

ul.facebook{
	list-style:none;
	padding:0;
	-webkit-transition: all 0.5s ease-out;
	-moz-transition: all 0.5s ease-out;
	-ms-transition: all 0.5s ease-out;
	-o-transition: all 0.5s ease-out;
	background: #3B5998;
	padding: 12px;
}
i.fb{
	width:30px;
	height:30px;
	background:url(../images/fb.png);
	float:left;
	margin-right: 2em;
}
ul.facebook li{
	color:#fff;
	font-size:1em;
	float: left;
	margin-top: 5px;
}
ul.facebook:hover{
	background: #5D7BBA;
}

ul.twitter{
	list-style:none;
	padding:0;
	-webkit-transition: all 0.5s ease-out;
	-moz-transition: all 0.5s ease-out;
	-ms-transition: all 0.5s ease-out;
	-o-transition: all 0.5s ease-out;
	background:#55ACEE;
	padding: 12px;
}
i.tw{
	width:30px;
	height:30px;
	background:url(../images/tw.png);
	float:left;
	margin-right: 2em;
}
ul.twitter li{
	color:#fff;
	font-size:1em;
	float: left;
	margin-top: 5px;
}
ul.twitter:hover{
	background: #71B8ED;
}
span.term a{
	color: #1888A8;
	font-weight: bold;
}
span.term a:hover{
	color:#fff;
}
.lable input[type="text"] {
	padding:8px 10px;
	color: #555;
	width:87%;
	outline: none;
	background: #FFFFFF;
	-webkit-transition: all 0.3s ease-out;
	-moz-transition: all 0.3s ease-out;
	-ms-transition: all 0.3s ease-out;
	-o-transition: all 0.3s ease-out;
	border: 1px solid #DDDDDD;
	 border-radius:2px;
	-webkit-transition: all 0.3s ease-out;
	-moz-transition: all 0.3s ease-out;
	-ms-transition: all 0.3s ease-out;
	-o-transition: all 0.3s ease-out;
	border: 1px solid #bbb;
    overflow: hidden;
    -webkit-border-radius: 5px 4px 4px 5px/5px 5px 4px 4px;
    -moz-border-radius: 5px 4px 4px 5px/5px 5px 4px 4px;
    border-radius: 5px 4px 4px 5px/5px 5px 4px 4px;
    -webkit-box-shadow: 0 0 5px rgba(123, 123, 123, 0.2);
    -moz-box-shadow: 0 0 5px rgba(123,123,123,.2);
}

.lable select {
	overflow: hidden;
    border-radius:2px;
    padding:9px 10px;
	font-size: 12px;
	color: #666666;
	width:96%;
	cursor: pointer;
	/* font-family: 'Oxygen', sans-serif; */
	outline: none;
	font-weight: 600;
	margin-left: 4px;
	background: #FFFFFF;
	-webkit-transition: all 0.3s ease-out;
	-moz-transition: all 0.3s ease-out;
	-ms-transition: all 0.3s ease-out;
	-o-transition: all 0.3s ease-out;
	border: 1px solid #bbb;
	background: #FFF;
    overflow: hidden;
    display: inline-block;
    color: #525252;
    font-weight: 300;
    -webkit-border-radius: 5px 4px 4px 5px/5px 5px 4px 4px;
    -moz-border-radius: 5px 4px 4px 5px/5px 5px 4px 4px;
    border-radius: 5px 4px 4px 5px/5px 5px 4px 4px;
   /*  -webkit-box-shadow: 0 0 5px rgba(123, 123, 123, 0.2);
    -moz-box-shadow: 0 0 5px rgba(123,123,123,.2);
    box-shadow: 0 0 5px rgba(123, 123, 123, 0.2); */
    border: solid 1px #bbb;
    /* font-family: "helvetica neue",arial; */
    position: relative;
    cursor: pointer;
    padding-right:20px;
}

 .selectbox {
	overflow: hidden;
    border-radius:2px;
    padding:13px 10px;
	/* font-size: 12px; */
	color: #666666;
	width:96%;
	cursor: pointer;
	/* font-family: 'Oxygen', sans-serif; */
	outline: none;
	/* font-weight: 600; */
	background: #FFFFFF;
	-webkit-transition: all 0.3s ease-out;
	-moz-transition: all 0.3s ease-out;
	-ms-transition: all 0.3s ease-out;
	-o-transition: all 0.3s ease-out;
	border: 1px solid #bbb;
	background: #FFF;
    overflow: hidden;
    display: inline-block;
    color: #525252;
   /*  font-weight: 300; */
    -webkit-border-radius: 5px 4px 4px 5px/5px 5px 4px 4px;
    -moz-border-radius: 5px 4px 4px 5px/5px 5px 4px 4px;
    border-radius: 5px 4px 4px 5px/5px 5px 4px 4px;
   /*  -webkit-box-shadow: 0 0 5px rgba(123, 123, 123, 0.2);
    -moz-box-shadow: 0 0 5px rgba(123,123,123,.2);
    box-shadow: 0 0 5px rgba(123, 123, 123, 0.2); */
    border: solid 1px #bbb;
    /* font-family: "helvetica neue",arial; */
    position: relative;
    cursor: pointer;
    padding-right:20px;
}


.form1 input[type="text"],input[type="password"] { 
	padding: 9px 10px;
	width: 99%;
	/* font-size: 12px; */
	/* border:none; */
	color: #666666;
	cursor: pointer;
	/* background: none; */
	/* float: left;
	outline: none; */
	/* font-weight: 700; */
	/* font-family: 'Oxygen', sans-serif; */
	background: #ffffff;
	-webkit-transition: all 0.3s ease-out;
	-moz-transition: all 0.3s ease-out;
	-ms-transition: all 0.3s ease-out;
	-o-transition: all 0.3s ease-out;
	border: 1px solid #bbb;
}

.longinputtypes { 
	padding: 9px 10px;
	width: 94%;
	border:none;
	color: #555;
	cursor: pointer;
	background: none;
	/* float: left; */
	outline: none;
	background: #ffffff;
	-webkit-transition: all 0.3s ease-out;
	-moz-transition: all 0.3s ease-out;
	-ms-transition: all 0.3s ease-out;
	-o-transition: all 0.3s ease-out;
	-webkit-transition: all 0.3s ease-out;
	-moz-transition: all 0.3s ease-out;
	-ms-transition: all 0.3s ease-out;
	-o-transition: all 0.3s ease-out;
	border: 1px solid #bbb;
	 border-radius:2px;
	-webkit-transition: all 0.3s ease-out;
	-moz-transition: all 0.3s ease-out;
	-ms-transition: all 0.3s ease-out;
	-o-transition: all 0.3s ease-out;
    overflow: hidden;
    -webkit-border-radius: 5px 4px 4px 5px/5px 5px 4px 4px;
    -moz-border-radius: 5px 4px 4px 5px/5px 5px 4px 4px;
    border-radius: 5px 4px 4px 5px/5px 5px 4px 4px;
}

.longinputtypes1 { 
	padding: 4px 10px;
	width: 98% !important;
	font-size: 12px;
	border:none;
	color: #666666;
	cursor: pointer;
	background: none;
	float: left;
	outline: none;
	font-weight: 700;
	background: #ffffff;
	-webkit-transition: all 0.3s ease-out;
	-moz-transition: all 0.3s ease-out;
	-ms-transition: all 0.3s ease-out;
	-o-transition: all 0.3s ease-out;
	-webkit-transition: all 0.3s ease-out;
	-moz-transition: all 0.3s ease-out;
	-ms-transition: all 0.3s ease-out;
	-o-transition: all 0.3s ease-out;
	border: 1px solid #bbb;
	 border-radius:2px;
	font-weight: 600;
	-webkit-transition: all 0.3s ease-out;
	-moz-transition: all 0.3s ease-out;
	-ms-transition: all 0.3s ease-out;
	-o-transition: all 0.3s ease-out;
    overflow: hidden;
    -webkit-border-radius: 5px 4px 4px 5px/5px 5px 4px 4px;
    -moz-border-radius: 5px 4px 4px 5px/5px 5px 4px 4px;
    border-radius: 5px 4px 4px 5px/5px 5px 4px 4px;
}


.longinputtypesa { 
	padding: 11px 10px;
	width: 94%;
	border:none;
	color: #555;
	cursor: pointer;
	background: none;
	/* float: left; */
	outline: none;
	background: #ffffff;
	-webkit-transition: all 0.3s ease-out;
	-moz-transition: all 0.3s ease-out;
	-ms-transition: all 0.3s ease-out;
	-o-transition: all 0.3s ease-out;
	-webkit-transition: all 0.3s ease-out;
	-moz-transition: all 0.3s ease-out;
	-ms-transition: all 0.3s ease-out;
	-o-transition: all 0.3s ease-out;
	border: 1px solid #bbb;
	 border-radius:2px;
	-webkit-transition: all 0.3s ease-out;
	-moz-transition: all 0.3s ease-out;
	-ms-transition: all 0.3s ease-out;
	-o-transition: all 0.3s ease-out;
    overflow: hidden;
    -webkit-border-radius: 5px 4px 4px 5px/5px 5px 4px 4px;
    -moz-border-radius: 5px 4px 4px 5px/5px 5px 4px 4px;
    border-radius: 5px 4px 4px 5px/5px 5px 4px 4px;
}

.submit{
	text-align: center;
	margin-right:8px;
}
input[type=submit] {
	padding: 12px 30px;
	color: #fff;
	float: right;
	background: #40A46F;
	border: 1px solid #40A46F;
	cursor: pointer;
	font-size: 14px;
	transition: all 0.5s ease-out;
	-webkit-transition: all 0.5s ease-out;
	-moz-transition: all 0.5s ease-out;
	-ms-transition: all 0.5s ease-out;
	-o-transition: all 0.5s ease-out;
	outline:none;
	width: 100%;
	-webkit-appearance: none;
	 margin-bottom: 50px;
	 border-radius:4px;
}
.submit input[type=submit]:hover {
	 background:#07793D;
	 border:1px solid #07793D;
}




 /*AUTO COMPLETE*/
.autocomplete-suggestions {
	border: 1px solid #999;
	background: #FFF;
	overflow: auto;
}
.autocomplete-suggestion {
	padding:0px 3px;
	white-space: nowrap;
	overflow: hidden;
	font-size: 13px
}
.autocomplete-selected {
	background: #F0F0F0;
}
.autocomplete-suggestions strong {
	font-weight: normal;
	/* color: #3399FF; */
}


 /*ADDED regform.css*/

.login-container {
	max-width:400px;
	width:100%;
}

#contact input[type="text"], #contact input[type="email"], #contact input[type="tel"],#contact input[type="password"],
	#contact input[type="url"], #contact textarea, #contact button[type="submit"]	{
	font: 400 12px/16px "Open Sans", Helvetica, Arial, sans-serif;
}

#contact {
	background:#d1efed;
	padding:30px 30px 35px 35px;
}

#contact h3 {
	color: #f96;
    display: block;
    font-size: 22px;
    font-weight: 400;
    margin-bottom: 12px;
}

#contact h4 {
	margin:20px 0 2px;
	display:block;
	font-size:13px;
}

fieldset {
	border: medium none !important;
	margin: 0 0 10px;
	min-width: 100%;
	padding: 0;
	width: 100%;
}

#contact input[type="text"], #contact input[type="email"], #contact input[type="password"], #contact input[type="url"], #contact textarea {
	background: #fff none repeat scroll 0 0;
    border: 1px solid #bbb;
    font-size: 13px;
    margin-top: 12px;
    padding: 10px;
    width: 90%;
    color: #888;
}

#contact input[type="text"]:hover, #contact input[type="email"]:hover,
	#contact input[type="tel"]:hover, #contact input[type="url"]:hover,
	#contact textarea:hover {
	-webkit-transition: border-color 0.3s ease-in-out;
	-moz-transition: border-color 0.3s ease-in-out;
	transition: border-color 0.3s ease-in-out;
	border: 1px solid #AAA;
}

#contact textarea {
	height:100px;
	max-width:100%;
  resize:none;
}
#contact password {
	max-width:100%;
	background: #fff none repeat scroll 0 0;
    border: 1px solid #bbb;
    font-size: 13px;
    margin-top: 12px;
    padding: 10px;
    width: 100%;
}

#contact button[type="submit"] {
	background: #0cf none repeat scroll 0 0;
    border: medium none;
    color: #fbfbfb;
    cursor: pointer;
    font-size: 17px;
    padding: 14px;
    width: 97%;
}

#contact button[type="submit"]:hover {
	background:#09C;
	-webkit-transition:background 0.3s ease-in-out;
	-moz-transition:background 0.3s ease-in-out;
	transition:background-color 0.3s ease-in-out;
}

#contact button[type="submit"]:active { box-shadow:inset 0 1px 3px rgba(0, 0, 0, 0.5); }

#contact input:focus, #contact textarea:focus {
	outline:0;
	border:1px solid #999;
}
::-webkit-input-placeholder {
 color:#333;
}
:-moz-placeholder {
 color:#333;
}
/* ::-moz-placeholder {
 color:#333;
}

 */:-ms-input-placeholder {
 color:#333;
}






/**start-copy-right**/
.copy-right {
	text-align: center;
	margin: 2em 0;
}
.copy-right p {
	color: #FFF;
	font-size:1em;
}
.copy-right p a {
	/* font-family: 'Oxygen', sans-serif; */
	font-size:1em;
	font-weight:600;
	color:#55ACEE;
	-webkit-transition: all 0.3s ease-out;
	-moz-transition: all 0.3s ease-out;
	-ms-transition: all 0.3s ease-out;
	-o-transition: all 0.3s ease-out;
	transition: all 0.3s ease-out;
}
.copy-right a:hover{
	color:#fff;
}
.col_1_of_2:first-child {
	margin-left: 0;
}
.span_1_of_2 {
	width:49.7%;
}
.col_1_of_2 {
	display: block;
	float: left;
	margin:0 0 0 0.6%;
}
.col_1_of_f:first-child {
	margin-left: 0;
}
.span_1_of_f {
	width:49.7%;
}
.col_1_of_f {
	display: block;
	float: left;
	margin:0 0 0 0;
}
/*----start-responsive design-----*/
@media (max-width:1024px){
.col_1_of_2 {
	margin: 0 0 0 3.6%;
}
.span_1_of_2 {
	width: 47.7%;
}
.span_1_of_f {
	width: 50%;
}
i.fb, i.tw {
	margin-right: 1em;
}
.main {
	width: 50%;
}
}
@media (max-width:800px){
.span_1_of_f {
	width: 100%;
}
.col_1_of_f {
	float:none;
}
.span_1_of_2 {
	width: 100%;
}
.col_1_of_2 {
	margin:0;
}
.lable-2 input[type="text"], input[type="Password"] {
	padding: 10px;
	width: 89%;
}
}
@media (max-width:480px){
.main {
margin: 7em auto 0;
width:70%;
}
}
@media (max-width:320px){
.main {
	width:80%;
}
.lable input[type="text"] {
	width: 83%;
}
.lable-2 input[type="text"], input[type="Password"] {
	width: 84%;
}
}

.Creative-pro, .Creative-pro h3{
    display: block;
    position: fixed;
    bottom:0;
    z-index: 100000;
    width: 100%;
    overflow: hidden;
    height: 50px;
    margin:0px;
}
.Creative-pro h3{
    padding-bottom: 10px;
    padding-top: 10px;
}
.lite{
    color: #00a0df !important;
}


/*Modal Content*/
.modal-content{
    border-radius:0px;
    background:rgba(255,255,255,0.9);
}
.modal-header .close{
    font-weight: 300;
    font-size: 30px;
}

/*sidebar navigation*/
#sidebar {
    width: 180px;
    height: 100%;
   /*  position: fixed; */
    background: #ff6666;
}
.nav-collapse.collapse {
    display: inline;
}
ul.sidebar-menu , ul.sidebar-menu li ul.sub{
    margin: -2px 0 0;
    padding: 0;
}
ul.sidebar-menu {
  /*   margin-top: 60px; */
}
#sidebar > ul > li > ul.sub {
    display: none;
}
#sidebar > ul > li.active > ul.sub, #sidebar > ul > li > ul.sub > li > a {
    display: block;
}

ul.sidebar-menu li ul.sub li{
    background: #394a59;
    margin-bottom: 0;
    margin-left: 0;
    margin-right: 0;
}

ul.sidebar-menu li ul.sub li:last-child{
    border-radius: 0 0 4px 4px;
    -webkit-border-radius: 0 0 4px 4px;
}

ul.sidebar-menu li ul.sub li a {
    font-size: 12px;
    padding: 0 0 0 32px;
    line-height: 35px;
    height: 35px;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    -ms-transition: all 0.3s ease;
    transition: all 0.3s ease;
    color: #d0d8df;
    font-size: 14px;
}

ul.sidebar-menu li ul.sub li a:hover, ul.sidebar-menu li ul.sub li.active a {
    color: #fff;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    -ms-transition: all 0.3s ease;
    transition: all 0.3s ease;
    display: block;
}

ul.sidebar-menu li{
    line-height: 20px !important;
}
/*ul.sidebar-menu li:hover{
    border-bottom: 1px solid #688a7e;
}*/
ul.sidebar-menu li.sub-menu{
    line-height: 15px;
    font-size: 16px;
}

ul.sidebar-menu li a span{
    display: inline-block;
}

ul.sidebar-menu li a{
    color: #d0d8df;
    text-decoration: none;
    display: block;
    padding: 15px 0 15px 12px;
    font-size: 14px;
    font-weight: 500;
    outline: none;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    -ms-transition: all 0.3s ease;
    transition: all 0.3s ease;
    border-right: 1px solid #D7D7D7;
    border-bottom: 1px solid #D7D7D7;
}

ul.navbar-nav li a{
    color: #d0d8df;
    text-decoration: none;
    display: block;
    padding: 15px 0 15px 12px;
    font-size: 14px;
    font-weight: 500;
    outline: none;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    -ms-transition: all 0.3s ease;
    transition: all 0.3s ease;
    border-right: 1px solid #D7D7D7;
    border-bottom: 1px solid #D7D7D7;
}
/*ul.sidebar-menu li a i{
    position: relative;
    top: 2px;
}*/
ul.sidebar-menu li.active a, ul.sidebar-menu li a:hover, ul.sidebar-menu li a:focus {
    background: #ff3333;
    color: #fff;
    display: block;
    /*border-radius: 4px;
    -webkit-border-radius: 4px;*/
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    -ms-transition: all 0.3s ease;
    transition: all 0.3s ease;        
}
ul.sidebar-menu li a:hover, ul.sidebar-menu li a:focus {
    border-bottom: 1px solid #d0d8df;
}
/*ul.sidebar-menu li.active a,*/ ul.sidebar-menu .sub-menu li.active a{
    border-bottom: 1px solid #d0d8df;   
}

ul.sidebar-menu li a i {
    font-size: 18px;
    padding-right: 6px;
    /*color: #688a7e;*/
}

ul.sidebar-menu li a:hover i, ul.sidebar-menu li a:focus i {
    color: #fff;
}

ul.sidebar-menu li.active a i {
    color: #fff;
}
#sidebar ul > li > a .arrow {
    border-bottom: 4px solid transparent;
    border-left: 4px solid #A0A0A0;
    border-top: 4px solid transparent;
    float: right;
    height: 0;
    margin-right: 10px;
    margin-top: 6px;
    width: 0;
}
#sidebar ul > li > a .menu-arrow { 
    float: right;    
    margin-right: 8px;
    margin-top: 6px;    
}
#sidebar > ul > li > a .arrow.open {
    border-left: 4px solid transparent;
    border-right: 4px solid transparent;
    border-top: 5px solid #A0A0A0;
    float: right;
    height: 0;
    margin-right: 10px;
    margin-top: 8px;
    width: 0;
}
#sidebar ul > li.active > a .arrow, #sidebar ul > li > a:hover .arrow, #sidebar ul > li > a:focus .arrow {
    float: right;
    margin-top: 6px;
    margin-right: 10px;
    width: 0;
    height: 0;
    border-left: 4px solid #d0d8df;
    border-top: 4px solid transparent;
    border-bottom: 4px solid transparent;
}

#sidebar > ul > li.active > a .arrow.open, #sidebar > ul > li > a:hover .arrow.open, #sidebar > ul > li > a:focus .arrow.open {
    float: right;
    margin-top: 8px;
    margin-right: 10px;
    width: 0;
    height: 0;
    border-top: 5px solid #d0d8df;
    border-left: 4px solid transparent;
    border-right: 4px solid transparent;
}

.mail-info, .mail-info:hover {
    margin: 3px 6px 0 0;
    font-size: 11px;
}
/*profile status bubbly*/
.online-profile li a i {
    position: relative;
    left: -12px;
    top: -10px;
}
.online-profile li a span i {
    position: relative;    
    top: 10px;
}
/*chat-*/
.chat-online-profile li a i {
    position: relative;
    left: -12px;
    top: -10px;
}
.chat-online-profile li a span i {
    position: relative;    
    top: 10px;
}
.chat-online-profile li a{
    border-bottom: 1px solid #D7D7D7;
}
.chat-online-profile li a:hover, .chat-online-profile li a:focus, .chat-online-profile li a:active{
    background: #eeeeee !important;
    border-bottom: 1px solid #688a7e !important;
}
.chat-online-profile li a:hover span i,.chat-online-profile li a:focus span i,.chat-online-profile li a:active span i{
    color: #688a7e;
}
.right-chat-panel{
    max-height: 600px;
}
.compose-mail{
    width: 95%;
    font-size: 16px;
    border-radius: 0;
}

/*main content*/

#main-content {
    margin-left: 180px;
}
.wrapper {
    display: inline-block;
    margin-top: 60px;
    padding: 15px;
    width: 100%;
}
a.logo {
    font-size: 22px;
    font-weight: 300;
    color: #fed189;
    float: left;
   /*  margin-top: 15px; */
    text-transform: uppercase;
}
a.logo:hover, a.logo:focus {
    text-decoration: none;
    outline: none;
}
a.logo span {
    color: #688a7e;
}


/*notification*/

#top_menu .nav > li, ul.top-menu > li {
    float: left;
}

.notification-row {
    float: right;
    margin-top: 15px;
    margin-left: 50px;
}
#task_notificatoin_bar, #mail_notificatoin_bar, #alert_notificatoin_bar{
    margin-top: 7px;
}

ul.top-menu > li > a {
    color: #fed189;
    font-size: 18px;    
    padding: 2px 6px;
    margin-right: 15px;
}

ul.top-menu > li > a:hover, ul.top-menu > li > a:focus {    
    background: transparent !important;
    color: #D7D7D7 !important;
}

.notification-row .badge {
    position: absolute;
    right: -4px;
    top: 0px;
    z-index: 100;
    border-radius: 9px;
    min-width: 18px;
    height: 18px;
    text-align: center;
    padding: 3px 5px;
    background: #00a0df;
    font-weight: 400;
}


.dropdown-menu.extended {
    max-width: 300px !important;
    min-width: 160px !important;
    top: 42px;
    width: 235px !important;
    padding: 0;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.176) !important;
    border: none !important;
    border-radius: 4px;
    -webkit-border-radius: 4px;
}
.navbar-form{
    padding: 0px;
    margin: 0 0 0 10px;    
}

.navbar-form .form-control{
    width: 200px;
    height: 30px;
    background: white url('../img/icons/search-line-icon.png') no-repeat 3px;
    padding-left: 24px;
    margin-top: 1px;    
}

@media screen and (-webkit-min-device-pixel-ratio:0) {
    /* Safari and Chrome */
    .dropdown-menu.extended  {
        box-shadow: 0 2px 8px rgba(0, 0, 0, 0.176) !important;
    };
}
/* bootstrape editor*/
 #editor {
    max-height: 250px;
    height: 250px;
    background-color: white;
    border-collapse: separate; 
    border: 1px solid rgb(204, 204, 204); 
    padding: 4px; 
    box-sizing: content-box; 
    -webkit-box-shadow: rgba(0, 0, 0, 0.0745098) 0px 1px 1px 0px inset; 
    box-shadow: rgba(0, 0, 0, 0.0745098) 0px 1px 1px 0px inset;
    border-top-right-radius: 3px; border-bottom-right-radius: 3px;
    border-bottom-left-radius: 3px; border-top-left-radius: 3px;
    overflow: scroll;
    outline: none;
}
#voiceBtn {
  width: 20px;
  color: transparent;
  background-color: transparent;
  transform: scale(2.0, 2.0);
  -webkit-transform: scale(2.0, 2.0);
  -moz-transform: scale(2.0, 2.0);
  border: transparent;
  cursor: pointer;
  box-shadow: none;
  -webkit-box-shadow: none;
}

div[data-role="editor-toolbar"] {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.dropdown-menu.extended li p {
    background-color: #F1F2F7;
    color: #666666;
    margin: 0;
    padding: 10px;    
}

.dropdown-menu.extended li p.green {
    background-color: #4cd964;
    color: #fff;
}

.dropdown-menu.extended li p.red {
    background-color: #00a0df;
    color: #fff;
}
.dropdown-menu.extended li p.blue {
    background-color: #688a7e;
    color: #fff;
}

.dropdown-menu.extended li p.yellow {
    background-color: #fcb322;
    color: #fff;
}

.dropdown-menu.extended li a {
    border-bottom: 1px solid #EBEBEB !important;
    font-size: 12px;
    list-style: none;
}

.dropdown-menu.extended li a {
    padding: 15px 10px !important;
    width: 100%;
    display: inline-block;
}

.dropdown-menu.extended li a:hover {
    background-color: #F7F8F9 !important;
    color: #2E2E2E;
    border-bottom: 1px solid #688a7e !important;
}

.dropdown-menu.tasks-bar .task-info .desc {
    font-size: 13px;
    font-weight: normal;
}

.dropdown-menu.tasks-bar .task-info .percent {
    display: inline-block;
    float: right;
    font-size: 13px;
    font-weight: 600;
    padding-left: 10px;
    margin-top: -4px;
}

.dropdown-menu.extended .progress {
    margin-bottom: 0 !important;
    height: 10px;
}

.dropdown-menu.inbox li a .photo img {
    border-radius: 2px 2px 2px 2px;
    float: left;
    height: 40px;
    margin-right: 4px;
    width: 40px;
}

.dropdown-menu.inbox li a .subject {
    display: block;
}

.dropdown-menu.inbox li a .subject .from {
    font-size: 12px;
    font-weight: 600;
}

.dropdown-menu.inbox li a .subject .time {
    font-size: 11px;
    font-style: italic;
    font-weight: bold;
    position: absolute;
    right: 5px;
}

.dropdown-menu.inbox li a .message {
    display: block !important;
    font-size: 11px;
	
}

.top-nav  {
    margin-top: 18px;
    margin-right: 30px;
}

.top-nav ul.top-menu > li .dropdown-menu.logout {
    width: 200px !important;

}

.top-nav li.dropdown .dropdown-menu {
    float: right;
    right: 0;
    left: auto;
}

.dropdown-menu.extended.logout > li {
    float: left;
    text-align: left;
    width: 100%;
}
.dropdown-menu.extended.logout > li.eborder-top {
    border-top: 2px solid #688a7e !important;    
}
.dropdown-menu.extended.logout > li:last-child {
    float: left;
    text-align: left;
    width: 100%;
    background: #688a7e;    
}

.dropdown-menu.extended.logout > li:last-child > a, .dropdown-menu.extended.logout > li:last-child > a:hover {
    color: #fff;
    border-bottom: none !important;
    text-transform: uppercase;
    background-color:#688a7e !important;
}

.dropdown-menu.extended.logout > li:last-child > a:hover > i{
    color: #fff;
}
.dropdown-menu > li > a{
    color: #797979;
}
.dropdown-menu.extended.logout > li > a {
    border-bottom: 1px solid #EBEBEB !important;
    font-size: 14px;
    list-style: none;
    padding: 15px 10px !important;
    width: 100%;
    display: inline-block;
}
.dropdown-menu.extended.logout > li > a:hover {
    background-color: #F7F8F9 !important;
    color: #2E2E2E;
    border-bottom: 1px solid #688a7e !important;
}
.dropdown-menu.extended.logout > li > a:hover i {
    color: #688a7e;
}
.dropdown-menu.extended.logout > li > a i {
    font-size: 17px;
}
.dropdown-menu.extended.logout > li > a > i {
    display: inline-block;
    padding-right: 10px
}
.top-nav .username {
    font-size: 13px;
    color: #bdbdbd;
}
.top-nav ul.top-menu > li > a {
    padding: 8px;
    background: none;
    margin-right: 0;
}
.top-nav ul.top-menu > li {
    margin-left: 10px;
}
.top-nav ul.top-menu > li > a:hover, .top-nav ul.top-menu > li > a:focus {    
    background: #F1F2F7;
}
.top-nav .dropdown-menu.extended.logout {
    top: 50px;
}
.top-nav .nav .caret {
    border-bottom-color: #A4AABA;
    border-top-color: #A4AABA;
}
.top-nav ul.top-menu > li > a:hover .caret {
    border-bottom-color: #7498f1;
    border-top-color: #7498f1;
}
.log-arrow-up {
    background: url("../img/arrow-up.png") no-repeat;
    width: 20px;
    height: 11px;
    position: absolute;
    right: 20px;
    top: -10px;
}

/*----------------------	panel-----------------*/
.header-panel {
  border:none;
  -webkit-border-radius: 0px;
  -moz-border-radius: 0px;
  border-radius: 0px;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
  background: #fff;
  box-shadow: inset 0 -2px 0 rgba(0,0,0,.05);
  -moz-box-shadow: inset 0 -2px 0 rgba(0,0,0,.05);
  -webkit-box-shadow: inset 0 -2px 0 rgba(0,0,0,.05);
}


.panel {
  border:none;
  -webkit-border-radius: 0px;
  -moz-border-radius: 0px;
  border-radius: 0px;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
  margin-bottom: 30px;
  margin-top: 10px;
  background-color: #f7f7f7 !important;
}
.panel .panel-heading {
  line-height: 34px;
  padding: 0 15px;
  min-height: 34px;
  border-left: 1px solid #ccc;
  border-right: 1px solid #ccc;
  -webkit-border-radius: 0px;
  -moz-border-radius: 0px;
  border-radius: 0px;  
  position: relative;
  box-shadow: inset 0 -2px 0 rgba(0,0,0,.05);
  -moz-box-shadow: inset 0 -2px 0 rgba(0,0,0,.05);
  -webkit-box-shadow: inset 0 -2px 0 rgba(0,0,0,.05);  
}
.panel .panel-heading .panel-title {
  line-height: 40px;
}
.panel .panel-heading i {
  width: 30px;
  display: inline-block;
  font-size: 14px;
  border-right:1px solid #e6e6e6 ;
}
.panel .panel-heading ul li {
  border-top:1px solid #e6e6e6 ;
  border-left:1px solid #e6e6e6 ;
  border-right:1px solid #e6e6e6 ;
}
.panel .panel-heading h2 {
  height: 100%;
  width: auto;
  display: inline-block;
  font-size: 14px;
  position: relative;
  margin: 0;
  line-height: 34px;
  font-weight: 400;
  letter-spacing: 0;
}
.panel .panel-heading .panel-actions {
  float: right;
  margin-right: -15px;
  height: 40px;
  font-size: 0;
}
.panel .panel-heading .panel-actions i {
  display: inline-block;
  text-align: center;
  width: 34px;
  -webkit-transition: all 0.1s ease-in-out;
  -moz-transition: all 0.1s ease-in-out;
  -ms-transition: all 0.1s ease-in-out;
  -o-transition: all 0.1s ease-in-out;
  transition: all 0.1s ease-in-out;
  text-decoration: none;
  font-size: 14px;
}
.panel .panel-heading .panel-actions a {
  text-decoration: none;
  font-size: 14px;
  text-align: center;
  display: inline-block;
  line-height: 32px;
  padding: 0;
  margin: 0;
  color: #333;
  border-left: 1px solid rgba(0,0,0,.09);
}
.panel-actions .btn-setting:hover,
.panel-actions .btn-minimize:hover,
.panel-actions .btn-close:hover {
  background-color: rgba(0,0,0,.05);
}
.panel .panel-heading .switch {
  margin: 10px;
}
.panel .panel-body {
  border-width: 1px 1px 2px;
  border-style: solid;
  border-top: none;
  border-right-color: #ccc!important;
  border-bottom-color: #ccc!important;
  border-left-color: #ccc!important;
}
.panel .panel-body-map {
 /* border:1px solid #ccc; */
}
.panel .panel-body.no-padding {
  padding: 0;
}
.panel .panel-body.padding-horizontal {
  padding: 0 15px;
}
.panel .panel-body.no-padding-bottom {
  padding-bottom: 0;
}
.panel-footer {
  padding: 10px 15px;
  background-color: #f5f5f5;
  border-top: 1px solid #ddd;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}
.panel .panel-footer {
  border-width: 0 1px 2px 1px;
  border-style: solid;
  border-top: none;
  border-right-color: #ccc!important;
  border-bottom-color: #ccc!important;
  border-left-color: #ccc!important;    
  position: relative;  
}
.panel.panel-default {  
  border-radius: 6px;
  border: 1px solid #ccc;
  -webkit-box-shadow: 0 2px 1px -1px rgba(0, 0, 0, 0.1);
  -moz-box-shadow: 0 2px 1px -1px rgba(0, 0, 0, 0.1);
  box-shadow: 0 2px 1px -1px rgba(0, 0, 0, 0.1);
}
.panel.panel-default.panel-heading {
  background: #97d3c5;   
}
.panel.panel-default .panel-footer {
  background: #f5f5f5;
}
.panel.panel-primary {
  border-color: #20a8d8;
}
.panel.panel-primary .panel-heading,
.panel.panel-primary .panel-footer {
  background: #5dc3e7;
  color: #092f3d;
  border-color: #20a8d8;
}
.panel.panel-success {
  border-color: #79c447;
}
.panel.panel-success .panel-heading,
.panel.panel-success .panel-footer {
  background: #a3d781;
  color: #284315;
  border-color: #79c447;
}
.panel.panel-info {
  border-color: #67c2ef;
}
.panel.panel-info .panel-heading,
.panel.panel-info .panel-footer {
  background: #acdef6;
  color: #106894;
  border-color: #67c2ef;
}
.panel.panel-warning {
  border-color: #fabb3d;
}
.panel.panel-warning .panel-heading,
.panel.panel-warning .panel-footer {
  background: #fcd588;
  color: #815703;
  border-color: #fabb3d;
}
.panel.panel-danger {
  border-color: #ff5454;
}
.panel.panel-danger .panel-heading,
.panel.panel-danger .panel-footer {
  background: #ffa1a1;
  color: #a10000;
  border-color: #ff5454;
}



/* Just Gage - Demo Charts
=================================================================== */
.sz1 {
  width: 200px;
  height: 160px;
}
.sz0 {
  margin: 2em 0 0 0;
}
.sz0 {
  width: 100px;
  height: 80px;
}
/**
 * Nestable
 */
.dd {
  position: relative;
  display: block;
  margin: 0;
  padding: 0;
  list-style: none;
  font-size: 13px;
  line-height: 20px;
}
.dd-list {
  display: block;
  position: relative;
  margin: 0;
  padding: 0;
  list-style: none;
}
.dd-list .dd-list {
  padding-left: 30px;
}
.dd-collapsed .dd-list {
  display: none;
}
.dd-item,
.dd-empty,
.dd-placeholder {
  display: block;
  position: relative;
  margin: 0;
  padding: 0;
  min-height: 20px;
  font-size: 13px;
  line-height: 20px;
}
.dd-handle {
  display: block;
  height: 30px;
  margin: 5px 0;
  padding: 4px 10px;
  text-decoration: none;
  border: 1px solid #d4d4d4;
  background: #eeeeee;
  -webkit-border-radius: 1px;
  -moz-border-radius: 1px;
  border-radius: 1px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
.dd-handle:hover {
  color: #20a8d8;
  background: white;
}
.dd-handle .icon {
  float: right;
  font-size: 16px;
  margin-left: 10px;
}
.dd-handle .icon:hover {
  text-decoration: none;
}
.dd-item > button {
  display: block;
  position: relative;
  cursor: pointer;
  float: left;
  width: 25px;
  height: 20px;
  margin: 5px 0;
  padding: 0;
  text-indent: 100%;
  white-space: nowrap;
  overflow: hidden;
  border: 0;
  background: transparent;
  font-size: 12px;
  line-height: 1;
  text-align: center;
  font-weight: bold;
}
.dd-item > button:before {
  content: '+';
  display: block;
  position: absolute;
  width: 100%;
  text-align: center;
  text-indent: 0;
}
.dd-item > button[data-action="collapse"]:before {
  content: '-';
}
.dd-placeholder,
.dd-empty {
  margin: 5px 0;
  padding: 0;
  min-height: 30px;
  background: #f2fbff;
  border: 1px dashed #b6bcbf;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
.dd-empty {
  border: 1px dashed #bbb;
  min-height: 100px;
  background-color: #e5e5e5;
  background-size: 60px 60px;
  background-position: 0 0, 30px 30px;
}
.dd-dragel {
  position: absolute;
  pointer-events: none;
  z-index: 9999;
}
.dd-dragel > .dd-item .dd-handle {
  margin-top: 0;
}
.dd-dragel .dd-handle {
  -webkit-box-shadow: 2px 4px 6px 0 rgba(0, 0, 0, 0.1);
  -moz-box-shadow: 2px 4px 6px 0 rgba(0, 0, 0, 0.1);
  box-shadow: 2px 4px 6px 0 rgba(0, 0, 0, 0.1);
}
* /Widget-Content */

.widget-content .error .form-inline button{
	margin-left:-2px;
	padding:8px 12px;
}
.chats{
	padding-left:0px;
	margin-left:0px;
}
.recent{
	padding-left:0px;
	margin-left:0px;
}
.widget-foot .form-inline button {
	margin-left: -3px;
	padding:7px 12px;
}
.widget-content .form-inline button {
	margin-left: 0px;
	padding:7px 12px;
}
.buttons button{
	margin-top:10px;
}
.widget-content ol#slist{
	padding:0px;
}
.widget .widget-head,.modal-header{
  background-color: #f8f8f8;
  background: -webkit-gradient(linear, left top, left bottom, from(#f8f8f8), to(#f2f2f2));
  background: -webkit-linear-gradient(top, #f8f8f8, #f2f2f2);
  background: -moz-linear-gradient(top, #f8f8f8, #f2f2f2);
  background: -ms-linear-gradient(top, #f8f8f8, #f2f2f2);
  background: -o-linear-gradient(top, #f8f8f8, #f2f2f2);
  background: linear-gradient(top, #f8f8f8, #f2f2f2);	
  border-top-right-radius: 3px;
  border-top-left-radius: 3px;
  text-shadow:0px 1px #fff;
  border-bottom: 1px solid #ccc;
  border-top: 1px solid #fff;
	color: #666;
	font-size: 14px;
	font-weight: bold;
    padding: 8px 15px;
}

.widget.wblack .widget-head{
  background-color: #e8ece9;
  background: -webkit-gradient(linear, left top, left bottom, from(#e8ece9), to(#111));
  background: -webkit-linear-gradient(top, #e8ece9, #111);
  background: -moz-linear-gradient(top, #e8ece9, #111);
  background: -ms-linear-gradient(top, #e8ece9, #111);
  background: -o-linear-gradient(top, #e8ece9, #111);
  background: linear-gradient(top, #e8ece9, #111);
  text-shadow:0px 1px #000;
  border-bottom: 1px solid #555;
  border-top: 1px solid #666;
  box-shadow: inset 0px 1px 1px #444;
	color: #ccc;
}

.widget .widget-head .widget-icons i{
	font-size: 14px;
	margin: 0px 4px;
}

.widget .widget-head .widget-icons a{
	color: #aaa;
}

.widget .widget-head .widget-icons a:hover{
	color: #999;
}

.widget.wblack .widget-head .widget-icons i{
	font-size: 14px;
	margin: 0px 4px;
}

.widget .widget-foot, .modal-footer{
  background-color: #f8f8f8;
  background: -webkit-gradient(linear, left top, left bottom, from(#f8f8f8), to(#f2f2f2));
  background: -webkit-linear-gradient(top, #f8f8f8, #f2f2f2);
  background: -moz-linear-gradient(top, #f8f8f8, #f2f2f2);
  background: -ms-linear-gradient(top, #f8f8f8, #f2f2f2);
  background: -o-linear-gradient(top, #f8f8f8, #f2f2f2);
  background: linear-gradient(top, #f8f8f8, #f2f2f2);	
  border-bottom-right-radius: 3px;
  border-bottom-left-radius: 3px;
  text-shadow:0px 1px #fff;
  border-bottom: 1px solid #fff;
  border-top: 1px solid #ccc;
  padding: 8px 15px;
  font-size: 12px;
  color: #555;
  box-shadow: inset 0px 1px 1px #fff;
}
.widget-content .error .form-inline button{
	margin-left:-2px;
	padding:8px 12px;
}

.chats{
	padding-left:0px;
	margin-left:0px;
}

.recent{
	padding-left:0px;
	margin-left:0px;
}

.widget-foot .form-inline button {
	margin-left: -3px;
	padding:7px 12px;
}

.widget-content .form-inline button {
	margin-left: 0px;
	padding:7px 12px;
}
.widget .padd .modal-body{
	padding: 13px 15px;
}

.buttons button{
	margin-top:10px;
}

.widget-content ol#slist{
	padding:0px;
}

.task i {
	display:inline-block;
	width: 30px;
	height: 17px;
	background: #ccc;
	text-align: center;
	border-radius: 50px;
	font-size: 10px;
	line-height: 17px;
}

.pagination li a{
	color:#777;
}
/* Widget white extras */

.widget .nav-tabs > li a {}
.widget .nav-tabs {
	margin-bottom: 5px;
}
.widget .tab-content{
	margin-bottom: 10px;
}
.widget .padd, .modal-body{
	padding: 13px 15px;
}

/*-----	map-----*/
/* Google maps */

.gmap iframe{
	width: 100%;
	margin: 0px;
	padding: 0px;
}

/* Google maps ends */
/* Today datas */

.today-datas{
	list-style-type: none;
	padding: 0px;
	margin: 10px 0px;
}

.today-datas li{
	display: inline-block;
	margin-bottom: 5px;
	margin-right: 10px;
  padding: 10px 10px;
  text-shadow:0px 1px 0px #fff;
  max-width: 100%;
  text-align: center;
}

.today-datas li .datas-text{
	font-size: 13px;
	padding: 7px 0px 0px 0px;
	font-weight: normal;
}

/*----*/

.notify-arrow {
    border-style: solid;
    border-width: 0 9px 9px;
    height: 0;
    margin-top: 0;
    opacity: 0;
    position: absolute;
    right: 7px;
    top: -18px;
    transition: all 0.25s ease 0s;
    width: 0;
    z-index: 10;
    margin-top: 10px;
    opacity: 1;
}
.notify-arrow-blue{
    border-color: transparent transparent #688a7e;
    border-bottom-color: #688a7e !important;
    border-top-color: #688a7e !important;
}
.notify-arrow-yellow {
    border-color: transparent transparent #FCB322;
    border-bottom-color: #FCB322 !important;
    border-top-color: #FCB322 !important;
}
.notify-arrow-red {
    border-color: transparent transparent #00a0df;
    border-bottom-color: #00a0df !important;
    border-top-color: #00a0df !important;
}
.notify-arrow-green {
    border-color: transparent transparent #4cd964;
    border-bottom-color: #4cd964 !important;
    border-top-color: #4cd964 !important;
}


/*search*/

.search {
    margin-top: 6px ;
    width: 20px;
    -webkit-transition: all .3s ease;
    -moz-transition: all .3s ease;
    -ms-transition: all .3s ease;
    -o-transition: all .3s ease;
    transition: all .3s ease;
    border: 1px solid #fff;
    box-shadow: none;
    background: url("../img/search-icon.jpg") no-repeat 10px 8px;
    padding:0 5px 0 35px;
    color: #fff;
}

#jobsearchresults{font-size:100%;word-wrap: break-word;}
#jobsearchresults table td {padding:0;}
#jobsearchresults th{background:#dff8e3 none repeat scroll 0 0;}
/* #jobsearchresults th a{background:#dff8e3 none repeat scroll 0 0;} */
#jobsearchresults th a{text-decoration:none; color:#444; }
#jobsearchresults th a:HOVER{text-decoration:underline; color:#007aff; }
#jobsearchresults a{color:#0088cf;}
#jobsearchresults a:HOVER{text-decoration:underline;}
.search:focus {
    margin-top: 5px ;
    width: 180px;
    border: 1px solid #eaeaea;
    box-shadow: none;
    -webkit-transition: all .3s ease;
    -moz-transition: all .3s ease;
    -ms-transition: all .3s ease;
    -o-transition: all .3s ease;
    transition: all .3s ease;
    color: #c8c8c8;
    font-weight: 300;
}
#prfoilesearchresults th{background:#dff8e3 none repeat scroll 0 0;}


/*--sidebar toggle---*/

.toggle-nav {
    float: left;
    padding-right: 15px;
    margin-top: 20px;
}

.toggle-nav .icon-reorder {
    cursor: pointer;
    display: inline-block;
    font-size: 20px;
}


.sidebar-closed > #sidebar > ul {
    display: none;
}

.sidebar-closed #main-content {
    margin-left: 0px;
}

.sidebar-closed #sidebar {
    margin-left: -180px;
}
.panel-body.chart-texture {
    background: url("../img/chart-texture.jpg");
    -webkit-border-radius: 4px 4px 0px 0px;
    border-radius: 4px 4px 0px 0px;
    padding: 0px;
}

/*fontawesome*/
.fontawesome-icon-list h2 {
    margin-top: 0;
    font-size: 20px;
    font-weight: 300;
}
.fontawesome-icon-list .col-sm-3 {
    margin-bottom: 10px;
}
.fontawesome-icon-list .page-header {
    border-bottom: 1px solid #C9CDD7;
}
.fontawesome-icon-list i {
    font-size: 16px;
    padding-right: 10px;
}
#web-application, #text-editor, #directional, #video-player, #brand, #medical, #currency {
    margin-top: 10px;
}

/*mail inbox*/

.inbox-wrapper {
    border-collapse: collapse;
    border-spacing: 0;
    display: table;
    table-layout: fixed;
    width: 100%;
}

.inbox-wrapper aside {
    display: table-cell;
    float: none;
    height: 100%;
    padding: 0;
    vertical-align: top;
}

.inbox-wrapper .inbox-left {
    width: 20%;
    background: #e5e8ef;    
}
.inbox-wrapper .inbox-middle {
    width: 25%;
    background: #fff;    
}
.inbox-wrapper .inbox-right {
    width: 65%;
    background: #f5f5f5;    
}
.inbox-wrapper .inbox-left .inbox-left-menu {
    background: #688a7e;
}

.table-inbox .icon_star_alt:hover, .starred{
    color: #FCB322;
}
.inbox-wrapper .inbox-left .user-head {
    background: rgba(0,0,0,0.2);    
    padding: 10px;
    color: #fff;
    min-height: 80px;
}
.inbox-wrapper .inbox-middle .inbox-mail {
    background: #688a7e;        
    padding: 10px;
    color: #fff;
    min-height: 80px;
}

.user-head .inbox-avatar {
    width: 65px;
    float: left;
}

.user-head .inbox-avatar img {
    border-radius: 4px;
    -webkit-border-radius: 4px;
}
.user-head .user-name {
    display: inline-block;
    margin:0 0 0 10px;
}

.user-head .user-name h5 {
    font-size: 14px;
    margin-top: -15px;
    margin-bottom: 0;
    font-weight: 300;
}
.user-head .user-name h5 a {
    color: #fff;
}

.user-head .user-name span a {
    font-size: 12px;
    color: rgba(255,255,255,0.9);
}

a.mail-dropdown {
    background: #80d3d9;
    padding:3px 5px;
    font-size: 10px;
    color: #01a7b3;
    border-radius: 2px;
    margin-top: 20px;
}

.inbox-body {
    padding: 20px;    
}

.btn-compose {
    background: #00a0df;
    padding: 12px 0;
    text-align: center;
    width: 100%;
    color: #fff;
}
.btn-compose:hover {
    background: #f5675c;
    color: #fff;
}
ul.mail-nav  {
    display: inline-block;
    width: 100%;
    margin: 0;
    padding: 0;
}

.mail-divider {
    border-bottom: 1px solid #d5d8df;
}

ul.mail-nav li {
    display: inline-block;
    line-height: 20px;
    padding: 10px;
    width: 100%;
    border-right: 1px solid #D7D7D7;
    border-bottom: 1px solid #D7D7D7;
}

ul.mail-nav li a  {
    color: #6a6a6a;     
    width: 100%;
    display: inline-block;
    padding: 0 20px;
}
ul.mail-nav .mail-info{
    padding: 5px;
    font-size: 14px;
}
ul.mail-nav p{
    font-size: 12px;   
}
ul.mail-nav li:hover, ul.mail-nav li.active, ul.mail-nav li:focus  {
    color: #6a6a6a;
    background: #f5f5f5;
    border-bottom: 1px solid #688a7e;
    border-right: none;
}

ul.mail-nav li a i {
    padding-right: 10px;
    font-size: 16px;
    color: #6a6a6a;
}
ul.mail-nav li a span.label {
   margin-top: 13px;
}
ul.inbox-nav  {
    display: inline-block;
    width: 100%;
    margin: 0;
    padding: 0;
}
.inbox-divider {
    border-bottom: 1px solid #d5d8df;
}
ul.inbox-nav li {
    display: inline-block;
    line-height: 45px;
    width: 100%;
}
ul.inbox-nav li a  {
    color: #6a6a6a;
    line-height: 45px;
    width: 100%;
    display: inline-block;
    padding: 0 20px;
}
ul.inbox-nav li a:hover, ul.inbox-nav li.active a, ul.inbox-nav li a:focus  {
    color: #6a6a6a;
    background: #d5d7de;
}
ul.inbox-nav li a i {
    padding-right: 10px;
    font-size: 16px;
    color: #6a6a6a;
}
ul.inbox-nav li a span.label {
   margin-top: 13px;
}
ul.labels-info li h4 {
    padding-left:15px;
    padding-right:15px;
    padding-top: 5px;
    color: #5c5c5e;
    font-size: 13px;
    text-transform: uppercase;
}
ul.labels-info li  {
   margin: 0;
}

ul.labels-info li a {
    color: #6a6a6a;
    border-radius: 0;
}

ul.labels-info li a:hover, ul.labels-info li a:focus {
    color: #6a6a6a;
    background: #d5d7de;
}

ul.labels-info li a i {
    padding-right: 10px;
}

.nav.nav-pills.nav-stacked.labels-info p {
    margin-bottom: 0;
    padding: 0 22px;
    color: #9d9f9e;
    font-size: 11px;
}

.inbox-head {
    padding:10px;
    background: #688a7e;
    color: #fff;
    border-bottom: 1px solid #D7D7D7;    
    min-height: 80px;
}

.inbox-head  h3 {
    margin: 0;
    display: inline-block;
    padding-top: 6px;
    font-weight: 300;
}

.inbox-head  .sr-input {
    height: 40px;
    border: none;
    box-shadow: none;
    padding: 0 10px;
    float: left;
    border-radius: 4px 0 0 4px;
    color: #8a8a8a;
}
.inbox-head  .sr-btn {
    height: 40px;
    border: none;
    background: #00a6b2;
    color: #fff;
    padding: 0 20px;
    border-radius: 0 4px 4px 0;
    -webkit-border-radius: 0 4px 4px 0;
}
.table-inbox {
    border: 1px solid #d3d3d3;
    margin-bottom: 0;
}
.table-inbox tr td{
    padding: 12px !important;
}
.table-inbox tr td:hover{
    cursor: pointer;
}
.table-inbox tr td .icon-star.inbox-started ,.table-inbox tr td .icon-star:hover{
    color: #f78a09;
}
.table-inbox tr td .icon-star{
    color: #d5d5d5;
}

.table-inbox tr.unread td {
    font-weight: 600;
    background: #f7f7f7;
}

ul.inbox-pagination  {
    float: right;
}

ul.inbox-pagination li {
    float: left;
}

.mail-option {
    display: inline-block;
    margin-bottom: 0px;
    width: 100%;
    margin-top: 18px;
}
.open-mail-action i{
    padding-right: 5px;
    font-size: 14px;
}
.inbox-mail .navbar-form{
    margin-top: 15px;
}
.mail-option .chk-all, .mail-option .btn-group {
    margin-right: 5px;
}

.mail-option .chk-all, .mail-option .btn-group a.btn {
    border: 1px solid #e7e7e7;
    padding: 5px 10px;
    display: inline-block;
    background: #ffffff;
    color: #688a7e;
    border-radius: 0px !important;
    -webkit-border-radius: 0px !important;    
}
.inbox-pagination a.np-btn  {
    border: 1px solid #e7e7e7;
    padding: 5px 15px;
    display: inline-block;
    background: #fcfcfc;
    color: #afafaf;
    border-radius: 0px !important;
    -webkit-border-radius: 0px !important;
}
.mail-option .chk-all input[type=checkbox] {
    margin-top: 0;
}
.mail-option .btn-group a.all {
    padding: 0;
    border: none;
}
.inbox-pagination a.np-btn {
    margin-left: 5px;
}
.inbox-pagination li span {
    display: inline-block;
    margin-top: 7px;
    margin-right: 5px;
}
.fileinput-button {
    border: 1px solid #e6e6e6;
    background: #eeeeee;
}
.inbox-body .modal .modal-body input, .inbox-body .modal .modal-body textarea{
    border: 1px solid #e6e6e6;
    box-shadow: none;
}
.btn-send, .btn-send:hover {
    background: #00A8B3;
    color: #fff;
}
.btn-send:hover {
    background: #009da7;
}
.modal-header h4.modal-title {
    font-weight: 300;
    /* font-family: 'Lato', sans-serif; */
}
.modal-body label {
    font-weight: 400;
    /* font-family: 'Lato', sans-serif; */
}


/*404 page*/

.page-404{
  position:relative;
  width:350px;
  height:200px;    
  margin:100px auto;
  text-align: center;
}

.text-404{    
  font-size:138px;
  background:#e9e3dd;
  background-image: url('https://encrypted-tbn3.gstatic.com/images?q=tbn:ANd9GcQTdWeWNteABnbzguiXSBxmfc8Z8nh_HHoWoK35QL81x4HnpVmgvQ');
  background-repeat: no-repeat;
  background-size: 200% 200%;
  background-position: 100% 100%;
  -webkit-animation: square 3s linear infinite;
  -ms-animation: square 3s linear infinite;
  animation: square 3s linear infinite;
  -webkit-background-clip: text;
  color:transparent;  
  text-align:center;
  line-height:200px;
  position:relative;
}

.text-404:nth-of-type(2){
  text-shadow:none;
  z-index:2;
  position:absolute;
  top:-139px;
  left:-1px;
}

@-webkit-keyframes square {
  0% { background-position: 0 0; }
  25% { background-position: 100% 0; }
  50% { background-position: 100% 100%; }
  75% { background-position: 0 100%; }
  100% { background-position: 0 0; }
}

@-ms-keyframes square {
  0% { background-position: 0 0; }
  25% { background-position: 100% 0; }
  50% { background-position: 100% 100%; }
  75% { background-position: 0 100%; }
  100% { background-position: 0 0; }
}

@keyframes square {
  0% { background-position: 0 0; }
  25% { background-position: 100% 0; }
  50% { background-position: 100% 100%; }
  75% { background-position: 0 100%; }
  100% { background-position: 0 0; }
}


/*panel heading color*/
.panel-heading,.modal-header{
    background: #F7F7F7;
    color: #688a7e;

}
.panel-heading h3{
    margin: 0px !important;
}
.panel-primary > .panel-heading.navyblue {
    background-color: #2A3542;
    border-color: #2A3542;
    color: #FFFFFF;
}

/*--------------------------tables-------------------------------------*/
.table-advance tr td {
    vertical-align: middle !important;
}

.no-border {
    border-bottom: none;
}

.dataTables_length , .dataTables_filter{
    padding:15px;
}
.dataTables_info{
    padding:0 15px;
}

.dataTables_filter {
    float: right;
}

.dataTables_length select {
    width: 65px;
    padding:5px 8px;
}

.dataTables_length label, .dataTables_filter label {
    font-weight: 300;
}

.dataTables_filter label {
    width: 100%;
}

.dataTables_filter label input {
    width: 78%;
}

.border-top {
    border-top: 1px solid #ddd;
}

.dataTables_paginate.paging_bootstrap.pagination li {
    float: left;
    margin: 0 1px;
    border: 1px solid #ddd;
    border-radius: 3px;
    -webkit-border-radius: 3px;
}

.dataTables_paginate.paging_bootstrap.pagination li.disabled a{
    color: #c7c7c7;
}
.dataTables_paginate.paging_bootstrap.pagination li a{
    color: #797979;
    padding: 5px 10px;
    display: inline-block;
}

.dataTables_paginate.paging_bootstrap.pagination li:hover a, .dataTables_paginate.paging_bootstrap.pagination li.active a{
    color: #797979;
    background: #eee;
    border-radius: 3px;
    -webkit-border-radius: 3px;
}

.dataTables_paginate.paging_bootstrap.pagination {
    float: right;
    margin-right: 15px;
    margin-top: -5px;
    margin-bottom: 15px;
}

.dataTable tr:last-child {
    border-bottom: 1px solid #ddd;
}


/*button*/

.btn-row {
    margin-bottom: 10px;
}

/*tabs*/
.tab-head {
    background: #688a7e;
    display: inline-block;
    width: 100%;
    margin-top: 60px;
}

.tab-container {
    margin-top: 10px;
}

.tab-head .nav-tabs > li > a {
    border-radius: 0;
    margin-right: 1px;
    color: #fff;
}

.tab-head .nav-tabs > li.active > a, .tab-head .nav-tabs > li > a:hover, .tab-head .nav-tabs > li.active > a:hover, .tab-head .nav-tabs > li.active > a:focus {
    background-color: #f1f2f7;
    border-color: #f1f2f7;
    color: #797979;
}

/*general page*/

.progress-xs {
    height: 8px;
}

.progress-sm {
    height: 12px;
}

.panel-heading .nav {
    border: medium none;
    font-size: 13px;
    margin: -10px -15px -11px;
}

.tab-bg-primary {
    background: #688a7e;    
    border-bottom: none;
}

.tab-bg-info {
    background: #324c57; 
	
    border-bottom: none;
}
.tab-bg-info.panel-heading .nav > li.active > a, .tab-bg-info.panel-heading .nav > li > a:hover{
    color: #36464d;
}
.tab-bg-info.panel-heading .nav{
    margin: -10px 15px -11px;
}
.panel-heading .nav > li > a,
.panel-heading .nav > li.active > a, .panel-heading .nav > li.active > a:hover, .panel-heading .nav > li.active > a:focus {
    border-width: 0;
    border-radius: 0;
}

.panel-heading .nav > li > a {
    color: #fff;
}

.panel-heading .nav > li.active > a, .panel-heading .nav > li > a:hover {
    color: #688a7e;
    background: #fff;
}

.tab-right {
    height: 38px;
}

.panel-heading.tab-right .nav > li:first-child.active > a, .tab-right.panel-heading .nav > li:first-child > a:hover {
    border-radius:  0 ;
    -webkit-border-radius: 0 ;
}

.panel-heading.tab-right .nav > li:last-child.active > a, .tab-right.panel-heading .nav > li:last-child > a:hover {
    border-radius:  0 4px 0 0;
    -webkit-border-radius: 0 4px 0 0;
}

.panel-heading.tab-right .nav-tabs > li > a {
    margin-left: 1px;
    margin-right: 0px;
}


/*ADDED BY  fdfd */
.header-panel .buttonn {
    background: #0cf none repeat scroll 0 0;
    border: medium none;
    color: #fbfbfb;
    cursor: pointer;
    font-size: 14px;
    margin:0;
    padding:8px 10px;
    width:94%;
}
.inputtype {
	width: 100%;
	padding:5px 8px;
    background: #ffffff none repeat scroll 0 0;
    border: 1px solid #bbb;
    border-radius:3px 2px 2px 2px / 3px 3px 2px 2px;
    color: #666666;
    cursor: pointer;
    /* font-family: "Oxygen",sans-serif; */
    font-size: 14px;
    font-weight: 600;
    margin-left: 4px;
    outline: medium none;
    transition: all 0.3s ease-out 0s;
}
.middlesec{
    background-color: #fffff4;
    float: left;
    padding:2x 0 50px;
    width: 100%;
    min-height: 600px;
}


/*----------------colors------------------------*/
.green {color: #fff;
	padding: 10px 30px;
	background-color: #64AE3C;
}
.redd{	color: #fff;
	padding: 12px 30px;
	background-color: #3ECE0A;
	/* margin-right:14px;
	margin-left:-25px; */ 
	margin-bottom:5PX; 
}
.ltred{	color: #fff;
	padding: 12px 32px;
	background-color:#ef4836;
}
.white {
	background-color: #fff;
	padding: 17px 30px;
	color: #4e4f4f;
}
.color-border{
	background:url(images/color_border.jpg) repeat-x scroll center top;
	width: 100%;
	float: left;
	display: block;
	height: 5px;
}
.white-bg {    
    background: rgba(255,255,255,0.9);
    border-bottom: 1px solid #f1f2f7;
}
.dark-bg {    
    background: rgba(54,66,74,1);
    border-bottom: 1px solid #f1f2f7;
}
.dark-heading-bg {
  background: #4c4f53 !important;
  border: 1px solid #4c4f53;
}
.main-bg {
  background: #e6e8ea;
}
.white-bg {
  color : #768399;
  background : #fff;
  background-color : #fff;
}
.red-bg {
  color : #fff;
  background : #d95043;
  background-color : #d95043;
}
.blue-bg {
  color : #fff;
  background : #57889c;
  background-color : #57889c;
}
.green-bg {
  color : #fff !important;
  background : #26c281 !important;
  background-color : #26c281 !important;
}
.greenLight-bg {
  color: #71843f;
  background: #71843f;
  background-color: #71843f;
}
.maroon-color {
  color: #D91E18;
 /*  float: left; */
  font-weight:600; 
  /* background: #71843f;
  background-color: #71843f; */
}
.mroon-clr{color:#8b4513;font-size:110%;font-weight:600; }

.yellow-bg {
  color : #fff;
  background : #fc6;
  background-color : #fc6;
}
.orange-bg {
  color : #fff !important;
  background : #f4b162 !important;
  background-color : #f4b162 !important;
}
.purple-bg {
  color : #fff;
  background : #af91e1;
  background-color : #af91e1;
}
.pink-bg {
  color : #fff;
  background : #f78db8;
  background-color : #f78db8;
}
.recservices-bg{background:#9a2159;color : #fff;}
.lt-rd-bg {
  color : #fff;
  background : #ff6666;
  background-color : #ff6666;
}

.inh-bg{background:inherit; color : #fff;}
.lime-bg {
  color : #fff;
  background : #a8db43;
  background-color : #a8db43;
}
.magenta-bg {
  color : #fff;
  background : #e65097;
  background-color : #e65097;
}
.metblue-bg{
 color : #fff;
  background : #2cbbce;
  background-color : #2cbbce;	
}
.teal-bg {
  color : #fff;
  background : #97d3c5;
  background-color : #97d3c5;
}
.brown-bg {
  color : #fff;
  background : #d1b993;
  background-color : #d1b993;
}
.gray-bg {
  color : #768399;
  background : #e4e9eb;
  background-color : #e4e9eb;
}
.dark-bg {
background-color:#db6735; /* #db6735 #ff8b03*/
/* background-image:linear-gradient(10deg, #00357f 0%, #0072bc 100%); */
color : #fff;
/*   background : #1a2732;
  background-color : #1a2732; */
}
.facebook-bg {
  color: #fff;
  background: #3b5998;
  background-color : #3b5998;
}
.twitter-bg {
  color: #fff !important;
  background: #00aced !important;
  background-color : #00aced !important; 
}
.linkedin-bg {
  color: #fff;
  background: #4875b4;
  background-color : #4875b4;  
}
.wht-color {color: #fff;}
.jobdescbg{background:#C0D9D9 !important; padding-left:10px !important;}
/*   homestyle.css end */

.m-bot20 {margin-bottom: 20px;}
.m-bot-none {margin-bottom: 0;}
.close-sm {font-size: 14px;}
.mleft1{margin-left:1px !important;}
.mleft4{margin-left:4px !important;}
.row1xxx{margin-left:0px;margin-top:0px; }
.main70{margin: 20px 20px 20px 68px;width: 80%;}
.main60{margin: 20px 15px 20px 68px; width: 80%;}
.main60a{margin: 20px 15px 20px 60px; width: 85%;}
.wht-gb{background:#fff !important; }
.mtop50{margin-top:50px;}
.mtop100{margin-top:100px;}
.mtb60{margin-top:60px;margin-bottom:60px;}
.mtop20{margin-top:20px;}
.odd {background-color: #f5f5f5;}
.even {} /* #e0ffec background-color: #def;*/
.rowheader{background-color: #def;}
.errors{font-size:11px; color:#ff0000;  }
.pdnrt35{padding-right:35px;}
.ptop20{padding-top:20px;}
.errors{color:red;font-size:12px;}
.mtop12{margin-top:12px;}
#managejobpostings{line-height:24px;margin-left:2px;}
#managejobpostings table td {padding:6px 3px;}
#jobpostinglist{line-height:24px;margin-left:0px;font-size:100%;}
#jobpostinglist table td {padding:6px 3px;}
.pagelinks a{line-height: 60px;padding:12px 6px;} /*  border: 1px solid #ddd;  */
.pagebanner{color:maroon;font-size:130%;font-weight:600;    }/* margin-left:12px;margin-right:20px; */
.sortable a{text-decoration:underline;}
.alert{margin-bottom:8px;}
.mleft10{margin-left:10px;}
.mleft20{margin-left:20px;}
.mleft24{margin-left:24px;}
.pleft10{margin-left:10px; }
.mleft200{margin-left:200px; }
.mleft130{margin-left:130px; }
.mleft100{margin-left:100px; }
.mright50{margin-right:50px !important;}
.pdn15{padding:15px;}
.w300 {width: 280px;}
.w200 { width: 200px;}
.w120{width:120px;}
.w80 {width: 80px !important;}
.w95 {width: 95px !important;}
.mright3 {margin-right: 3px;}
.mright3 {margin-right: 3px;}
.padding-lr-none{padding:0px !important;}
.w99{width:99% !important;}

.tag {
    background: white none repeat scroll 0 0;
    border: 1px solid #b9bfc0;
    border-radius: 5px;
    display: inline-block;
    line-height: 1;
    margin: 6px 0;
    padding: 2px 10px;
    transition: all 0.3s ease 0s;
}
.jskprfl{
	/* border: 2px solid #ddd; */
    margin: 0;
   /*  padding:12px;  */
    border-radius:6px;border:1px solid #ccc !important;
    margin-top: 12px;
    }
.jskprfl table{border:none; }
.jskprfl table td {
border: medium none !important;
    padding: 9px 14px 9px 0px !important;}

.jskprfl p{font-size:100%;padding:3px 0px;}    
.jskprfl .label {
	font-size:100%;
	 border-radius: 0.25em;
    color: #757575;
    display: inline;
    font-weight: bold;
    line-height: 1;
    text-align: center;
    vertical-align: baseline;
    white-space: nowrap;
    padding: 0px 6px 0px 0px;
}    

.hmbutton {
	width: 80px !important;
    margin-bottom: 0px !important;
}

table.dataTable thead .sorting {
    background: rgba(0, 0, 0, 0) url("../images/sort_both.png") no-repeat scroll right center;
}


/* carousel testimonial starts  */
#quote-carousel {
  padding: 0 10px 30px 10px;
  margin-top: 30px;
  text-align:center;
}
/* indicator position */
#quote-carousel .carousel-indicators {
  right: 50%;
  top: auto;
  bottom: -10px;
  margin-right: -19px;
}
/* indicator color */
#quote-carousel .carousel-indicators li {
  background: #c0c0c0;
}
/* active indicator */
#quote-carousel .carousel-indicators .active {
  background: #333333;
  height:10px;
  width:10px;
  margin-bottom:1px;
}
/* typography */
/* h1 {
  text-align:center;
  margin-bottom:-20px !important;
}
 */
/* carousel testimonial end  */


ul#menu li {
    display:inline;
}

.ab{box-shadow:0 0 15px rgba(0,0,0, .8);}
.features p{text-align:left;margin: 0 0 10px;font-size:16px;line-height:26px;color:#666;}
.desc .list-group-item{background:none;text-align: left;border:none;font-size:120%;}
.ht180{min-height:155px;}
.featuredemplr {
    /* border: 2px solid #c13832;
    border-radius: 100%;
    height: 80px;
    margin-top:20px; */
    max-width: 25%;
}

.testmonial .photo {
    border: 2px solid #c13832;
    border-radius: 100%;
    height: 80px;
    margin-top:20px;
    width: 80px;
}

.panel strong{font-size:120%;}
.jskprfl h1{float: left;}
.jskprfl h2{}
#aa:HOVER {
	text-decoration: underline;
}
.logo .photo{margin: 0px;padding:0px;}
.fullw{width: 100%;
padding-top: 25px;
padding-bottom: 25px;
background: #eee;
}
.plan li{
	border-top:1px dashed #000;
	color:#434749;
	padding:15px 0;
}
.plan {
    background: #eef1f3 none repeat scroll 0 0;
    list-style: outside none none;
    margin: 30px 0;
    padding: 0 0 15px;
    text-align: center;
    transition: all 0.2s ease 0s;
}
.plan:hover {
    transform: scale(1.2);
}
.plan li.plan-head {
    background-color: #000000;
    border: medium none;
    color: #ffffff;
    font-size: 20px;
    font-weight: 600;
    line-height: 20px;
    padding: 15px 0;
}
.plan li.main-price {
    background-color: #aa570a;
    border: medium none;
    color: #fff;
    font-size: 30px;
    font-weight: 900;
    padding: 25px 0;
}
.w97p{width:97% !important; }
.w75p{width:75%; margin: 20px 15px 20px 68px;}
.w62l{width:62%; margin: 20px 15px 20px 120px;border:1px solid #ccc; }
.w62p{width:62%; margin: 20px 15px 20px 25px;border:1px solid #ccc;}
.texture{background: url("/envSpring/resources/appResImages/images/texture_11.png") repeat fixed 0% 0%/cover;}
.glyphicon{margin-left:10px;}
.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    width: 100px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    padding: 12px 16px;
}

.dropdown:hover .dropdown-content {
    display: block;
} 
.pdnt6{padding:6px 0px 0px 0px; }
.pdn10{padding:10px;}
.pdnl0{padding-left:0px;}
.pdnt22{padding-top:22px;padding:22px 0px 0px 0px;}
.photoo{
	/* border: 1px solid #bbb; */
    border-radius: 36px;
  /*   margin-left: 90px; */
    margin-top: 10px;
    }
.logoo{   
    margin-top: 26px;
    max-height:80px;
    }
.jskprfl h3{
	color: #1e90ff;
}
.jskprfl h4{
	color: #3299CC;
}
.jbdtls-mgn{margin:10px 0 20px 12px !important;}

.jumbotron{background:none;}
.jobsearchresults table td{padding:0px;}
.flppdn{padding:12px 0px 40px;margin: 20px 20px 20px 68px;}
.fnt{font-size:120%;}
.bradius15{border-radius:15px;border:1px solid #ccc !important;}
.table-striped > tbody > tr:nth-child(2n+1) > td, .table-striped > tbody > tr:nth-child(2n+1) > th{background-color:#fff;}
.brdr{border:0x solid #ddd;margin-top:10px;padding-left:0px;}
.h1dsn{margin:6px;font-size:150%;}
.pdnlr0{padding-left: 0px !important;padding-right:0px !important;}
.pdnlr10{padding-left: 15px;padding-right:15px;}
.pdnlr8{padding-left:8px !important;padding-right:8px !important;}
.pdntb8{padding-top:8px;padding-bottom:8px;}
.pdnr0{padding-right:0px;}
.mleft0{margin-left:0px;}
.fullw a{color:#555; margin:2px 36px; }
.fullw a:HOVER{text-decoration:underline; }
.fullw h1{font-size:150%;margin:7px 0px;}
.fullw {font-size:102%;line-height:1.7;}
.mtp6{margin-top:6px;}
.mtp15{margin-top:15px;}
.mtp20{margin-top:10px;}
.mtp30{margin-top:30px;}
.mht500 {
	  background: lightblue none repeat scroll 0 0;
    min-height: 500px;
}
.pdnl0r20{padding-left:0px !important;padding-right:20px !important;}
.pdntb5{padding:15px 0px;}
.pdntbm0{padding-top:0px !important;padding-bottom:0px !important;}
.pdntbfp{padding:12px 16px !important;}
.frt{float:right !important; }
.mglr{margin-left:0px;margin-right:0px;}
.mgl0{margin-left:0px;}
.pl8{padding-left:8px !important;}
.decor{background:#fff000;padding:10px;}
.mgntb6{margin:6px 0px;}
.mr0{margin-right:0}
.mbtm20{margin-bottom:20px;}
.mbtm70{margin-bottom:70px;}
.mbtm200{margin-bottom:200px;}
.mbtm300{margin-bottom:300px;}
.mbtm400{margin-bottom:400px;}
.mbtm500{margin-bottom:500px;}

.jumbotron h3{color: #382526;
    font-size:180%;
    font-weight: 500;
    margin-bottom:40px;
    text-align: center;}
.h-caption i {
	 	color: #ffcc5c;
	 	display: block;
	 	font-size: 60px;
	 	margin-bottom: 36px;
	 	text-align: center;
}
.h-caption h4 {
   /*  color: #fff; */
    font-size:175%;
    font-weight: 400;
    margin-bottom: 20px;
    text-align: center;
}

.single-table {
    border: 1px solid #ddd;
    padding: 30px 20px 20px;
     text-align: center;
}
.single-table h3 {
    font-size: 18px;
    margin-bottom: 30px;
    margin-top: 0;
    text-transform: uppercase;
}
.price {
    font-size: 20px;
    line-height: 36px;
}
.price span {
    font-size: 14px;
    line-height: 14px;
}
.single-table ul {
    margin: 30px 0;
    padding: 0;
}
.single-table ul li {
    line-height: 30px;
    /* border-bottom:1px solid #ddd; */ 
}

.mtb4{margin:4px 0px;}

.dashboard-div-wrapper {
    border-radius: 5px;
    color: #fff;
   /*  margin-bottom: 50px; */
 /*    padding: 40px; */
    text-align: center;
}

.alert-danger{background:#ffe0e6 !important;}

.mgn25{margin:25px;}
.mgn40{margin:40px;} 
.pg-header{font-size: 133%;
    font-weight: 600;
    margin-bottom: 3px;
    margin-top: 3px;}
.red1{color:red !important;}
.bl-bg{background-color:#0e91eb !important;color:#fff;}
.f2{font-size:110%;}
.f3{font-size:80%;}
.service-icon {
    border-radius: 4px;
    color: #fff;
    display: inline-block;
    font-size: 36px;
    height: 90px;
    line-height: 90px;
    transition: background-color 0.2s ease 0s;
    width: 90px;
    background:#028fcc; 
}

.jj-icon {
    background: #028fcc none repeat scroll 0 0;
    border: 2px solid #ccc;
    border-radius: 27px;
    font-size: 30px;
    line-height: 106px;
    text-align: center;
    transition: background-color 0.2s ease 0s;
}
.btnagj{margin-top:6px;margin-bottom:0px !important;}
.bshadow{box-shadow: 5px 3px 10px #d4d4d4;}
.bxhadow{box-shadow: -3px -4px 3px -2px #d4d4d4;}






.dropdown {
color: #555;
margin: 3px -22px 0 0;
width: 143px;
position: relative;
height: 17px;
text-align:left;
}
.submenu {
background: #fff;
position: absolute;
top: -12px;
left: -20px;
z-index: 100;
width: 135px;
display: none;
margin-left: 10px;
padding: 40px 0 5px;
border-radius: 6px;
box-shadow: 0 2px 8px rgba(0, 0, 0, 0.45);
}
.dropdown li a {
color: #555555;
display: block;
font-family: arial;
font-weight: bold;
padding: 6px 15px;
cursor: pointer;
text-decoration:none;
}

.dropdown li a:hover{
background:#155FB0;
color: #FFFFFF;
text-decoration: none;
}
p.account {
color: #555;
position: absolute;
z-index: 110;
display: block;
text-decoration: none;
cursor:pointer;
}
.root {
list-style:none;
margin:0px;
padding:0px;
font-size: 11px;
padding: 11px 0 0 0px;
border-top:1px solid #dedede;
}
.fcomp{margin-top:35px;padding-left:0px !important;}

.navbar-collapse{
	max-height:inherit !important; 
	}
.zero-index{z-index: 0;}	
@media (min-width:765px){
  nav.sidebar .navbar-brand, nav.sidebar .navbar-header{
      text-align: center;
      width: 100%;
      margin-left: 0px;
    }
    
    nav.sidebar a{
      padding-right:13px;
    }
    nav.sidebar a:hover{
    color:#fff;}
 nav.sidebar .navbar-nav > li{
      border-bottom: 1px solid #fce5e5;
    }

    nav.sidebar .navbar-collapse, nav.sidebar .container-fluid{
      padding: 0 0px 0 0px;
    }

    nav.sidebar{
      width: 200px;
      height: 100%;
      float: left;
      margin-bottom: 0px;
    }
   nav.sidebar li {
      width: 100%;
      
    } 

    nav.sidebar:hover{
      margin-left: 0px;
    }
  }
   
  @media (min-width: 1330px) {

    nav.sidebar{
      margin-left: 0px;
      float: left;
         }

    nav.sidebar .forAnimate{
      opacity: 1;
    }
  }
  .navbar-nav li:hover{
  background:#fff;
  }

  
  
  
  
  .ptext {
   /*  background: rgba(0, 30, 34, 0.85) none repeat scroll 0 0; */
    background : #a8db43;
    color: #fff;
    display: inline-block;
    font-size: 1.2em;
    padding: 0.625em 0.8em;
}
.bg-fade{
    background: rgba(0, 0, 0, 0.7) none repeat scroll 0 0;
    bottom: 0;
    content: " ";
    left: 0;
    position: absolute;
    right: 0;
    top: 0;
}